<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title>Talkeys Home</title>

    <!-- thirdparty CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/jquery-ui.css" rel="stylesheet">
    <!-- thirdparty CSS END-->
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- Bootstrap core CSS END-->
    <!-- Custom styles for this template-->
    
    <link href="css/headfoot.css"rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet">
    <!-- Custom styles for this template END-->
    
    <link href="css/user-css.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
      
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="http://talkeys.techdoyen.com/"><img src="images/Logo_v2.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="right-ment-bar">
                        <div class="right-menu-column">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="#" class="btnspan-parent"><span class="buttonspan">New itags</span></a></li>
                                <li><a href="#">itags</a></li>
                                <li><a href="javascript:;" role="button" class="search-btn-header"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                        <div class="right-menu-column">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle location-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                      <i class="fa fa-map-marker marker-cust" aria-hidden="true"></i><b>Dropdown</b> <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                  </ul>
                                </li>
                                <li class="user-profile">
                                  <img src="images/user.png" data-toggle="dropdown">
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Tags</a></li>
                                  </ul>
                                </li>
                              </ul>
                        </div>
                    </div><!-- /.right-ment-bar -->
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container -->
        </nav>
    </header>

    <div class="content-wrapper">
        <div class="header-bottom-wrapper">
             <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Follow any information Tags based on your selected City <span>[ Trivandrum ]</span></h3>
                        <p>If you do not belong to the city, please selectyour city from the location given above.</p>
                        <div class="slider-menu-wrapper swiper-container">
                            <div class="swiper-wrapper">
                                    <a href="#" class="swiper-slide">Sports</a>
                                    <a href="#" class="swiper-slide">Entertainment</a>
                                    <a href="#" class="swiper-slide">Fitness</a>
                                    <a href="#" class="swiper-slide">Parenting</a>
                                    <a href="#" class="swiper-slide">Movies</a>
                                    <a href="#" class="swiper-slide">College</a>
                                    <a href="#" class="swiper-slide">Yoga</a>
                                    <a href="#" class="swiper-slide">Fashion</a>
                                    <a href="#" class="swiper-slide">Travel</a>
                                    <a href="#" class="swiper-slide">Food</a>
                                    <a href="#" class="swiper-slide">Sports</a>
                                    <a href="#" class="swiper-slide">Entertainment</a>
                                    <a href="#" class="swiper-slide">Fitness</a>
                                    <a href="#" class="swiper-slide">Parenting</a>
                                    <a href="#" class="swiper-slide">Movies</a>
                                    <a href="#" class="swiper-slide">College</a>
                                    <a href="#" class="swiper-slide">Yoga</a>
                                    <a href="#" class="swiper-slide">Fasion</a>
                                    <a href="#" class="swiper-slide">Travel</a>
                                    <a href="#" class="swiper-slide">Food</a>
                          </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div><!-- /.slider-menu-wrapper -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="middle-content">
                            
                            
                               <div class="col-md-4 col-sm-6 col-xs-12 box-model">
                                   <div class="box-model-inner">
                                            <div class="itag-imgleft">
                                                <img src="images/userprofile.png">
                                                    <div class="right-user">
                                                        <input class="check" id="check-first" checked="" name="cb" type="checkbox">
                                                        <label for="check-first" class=""></label>
                                                    </div>
                                            </div>
                                            <div class="parabox">
                                                    <p>Edgar mitchel wikileaks Email to john podesta in authentic</p>
                                                    <div class="box-bottom"><span>100 talks</span><span>20 followers</span></div>
                                            </div>
                                       </div>
                                </div>
                            
                            <div class="col-md-4 col-sm-6 col-xs-12 box-model">
                                   <div class="box-model-inner">
                                            <div class="itag-imgleft">
                                                <img src="images/userprofile.png">
                                                    <div class="right-user">
                                                        <input class="check" id="check-first" checked="" name="cb" type="checkbox">
                                                        <label for="check-first" class=""></label>
                                                    </div>
                                            </div>
                                            <div class="parabox">
                                                    <p>Edgar mitchel wikileaks Email to john podesta in authentic</p>
                                                    <div class="box-bottom"><span>100 talks</span><span>20 followers</span></div>
                                            </div>
                                       </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-6 col-xs-12 box-model">
                                   <div class="box-model-inner">
                                            <div class="itag-imgleft">
                                                <img src="images/userprofile.png">
                                                    <div class="right-user">
                                                        <input class="check" id="check-first" checked="" name="cb" type="checkbox">
                                                        <label for="check-first" class=""></label>
                                                    </div>
                                            </div>
                                            <div class="parabox">
                                                    <p>Edgar mitchel wikileaks Email to john podesta in authentic</p>
                                                    <div class="box-bottom"><span>100 talks</span><span>20 followers</span></div>
                                            </div>
                                       </div>
                                </div>
                            
                            <div class="col-md-4 col-sm-6 col-xs-12 box-model">
                                   <div class="box-model-inner">
                                            <div class="itag-imgleft">
                                                <img src="images/userprofile.png">
                                                    <div class="right-user">
                                                        <input class="check" id="check-first" checked="" name="cb" type="checkbox">
                                                        <label for="check-first" class=""></label>
                                                    </div>
                                            </div>
                                            <div class="parabox">
                                                    <p>Edgar mitchel wikileaks Email to john podesta in authentic</p>
                                                    <div class="box-bottom"><span>100 talks</span><span>20 followers</span></div>
                                            </div>
                                       </div>
                                </div>
                            
                            <div class="col-md-4 col-sm-6 col-xs-12 box-model">
                                   <div class="box-model-inner">
                                            <div class="itag-imgleft">
                                                <img src="images/userprofile.png">
                                                    <div class="right-user">
                                                        <input class="check" id="check-first" checked="" name="cb" type="checkbox">
                                                        <label for="check-first" class=""></label>
                                                    </div>
                                            </div>
                                            <div class="parabox">
                                                    <p>Edgar mitchel wikileaks Email to john podesta in authentic</p>
                                                    <div class="box-bottom"><span>100 talks</span><span>20 followers</span></div>
                                            </div>
                                       </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-6 col-xs-12 box-model">
                                   <div class="box-model-inner">
                                            <div class="itag-imgleft">
                                                <img src="images/userprofile.png">
                                                    <div class="right-user">
                                                        <input class="check" id="check-first" checked="" name="cb" type="checkbox">
                                                        <label for="check-first" class=""></label>
                                                    </div>
                                            </div>
                                            <div class="parabox">
                                                    <p>Edgar mitchel wikileaks Email to john podesta in authentic</p>
                                                    <div class="box-bottom"><span>100 talks</span><span>20 followers</span></div>
                                            </div>
                                       </div>
                                </div>
                               
                              
                               
                           </div>
                        
                        
                    </div><!-- /.col-xs-12 -->
                </div>
        </div><!-- /.container -->
        
    </div><!-- /.content-wrapper -->

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 8,
            paginationClickable: true,
            spaceBetween: 0,
            freeMode: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            breakpoints: {
            1024: {
                slidesPerView: 4,
                spaceBetween: 40
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 30
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
        });
    </script>
</body>
</html>