

    <div class="content-wrapper height100">
        
        <div class="container signup-container">
                <div class="signup-wrapper">
                    <div class="col-xs-12 col-sm-6 signup-left">
                            <div class="logo-wrapper"><img src="images/Logo_v2.png"></div>
                            <p class="signup-left-pg">Talk, Discuss, Celebrate on anything happening in and around your city</p>
                            <div class="signup-left-bottom">By signing up, you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a></div>
                    </div><!-- /.signup-left -->
                    <div class="col-xs-12 col-sm-6 signup-right">
                            <p class="signup-right-title">Sign Up / Sign In</p>
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Password">
                            <div class="signup-right-bottom">
                                <a href="#" class="fgot-pwd">Forgot Password?</a>
                                <button type="button" class="btn btn-primary loginbtn">Sign In</button>
                            </div><!-- /.signup-right-bottom -->
                    </div><!-- /.signup-right -->
                </div><!-- /.signup-wrapper -->
        </div><!-- /.container -->
        
    </div><!-- /.content-wrapper -->