.idea/
node_modules
dist
.tmp
.grunt
*.swp
*.un~
*~
bower_components
npm-debug.log
test-results
coverage-report
/.project
/.settings
/report
html-angular-validate-report.json
.jsbeautifyrc
ngref.sublime-project
ngref.sublime-workspace
sitemap.xml
.DS_Store
