#main-page {
    width: 900px;
    margin: 0 auto;

}

#header {
    position: relative;
    margin-top: -20px;
    height: 100px;
    background-color: #F2F2F2;
    vertical-align: text-bottom;
}

.content-bottom {
    margin-left: 10px;
    position: absolute;
    bottom: 0;
}

#links {
    margin-left: 20px;
    font-size: 16px;
}
